---
export interface Props {
  href: string;
  logo: string;
  logoWidth?: number;
  id?: string;
}

const { href, logo, logoWidth = 100, id } = Astro.props as Props;
---

<li role="link" class="link-card">
  <a href={href} target="_blank">
    <h2>
      {logo ? <img src={logo} alt={logo} width={logoWidth} /> : null}
    </h2>
    <p id={id}></p>
  </a>
</li>
<style>
  :root {
    --link-gradient: linear-gradient(
      45deg,
      #1e00ff,
      rgb(0, 0, 0) 30%,
      var(--color-border) 60%
    );
  }
  li {
  }

  .link-card {
    list-style: none;
    display: flex;
    padding: 0.15rem;
    background-image: var(--link-gradient);
    background-size: 400%;
    border-radius: 0.5rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 1em 1.3em;
    border-radius: 0.35rem;
    color: var(--text-color);
    background-color: rgb(240, 240, 240);
    opacity: 0.8;
  }

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    text-align: center;
  }

  p {
    margin-top: 0.75rem;
    margin-bottom: 0;
  }

  h2 span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-color: white;
  }

  .link-card:is(:hover, :focus-within) h2 {
    color: black;
  }
</style>
